.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

.post-thumbnail img {
	margin-bottom: 1.250rem;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

.site-footer .widget a img,
.site-footer .widget img {
	box-shadow: 0 0 0 5px $color__light_gray;
}

.responsive-container, #wp-custom-header {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.responsive-container iframe, #wp-custom-header iframe {
	position: absolute !important;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important
}
/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";
