/* CSS Document */
#divTabs {
	margin: 2em 0px 0px 5px;
}
#divTabs a{
	font-weight: bold;
	text-decoration: none;
	padding: 3px 5px 2px 5px;
	border: 1px solid #002252;
	background-color:#979797;
	color: #FFF;
	font-size: 14px;
}
#divTabs a:hover{
	background-color: #002252;
	color: #FFF;
}
#divTabs a.current{
	border-bottom: 1px solid #FFF;
	background-color:#FFF;
	color: #002252;
}

#divPages{
	margin: 2px 0px;
	padding: 20px;
	border: 1px solid #002252;
}
#divDescriptions,
#divSKUs,
#divPhotoManagement,
#divUpsell,
.noJS{
display:none;
}

#jsWarning{
margin:5px 208px;
background-color:#990000;
padding:10px 20px;
color:#FFF;
}
