button,
input[type="button"],
input[type="reset"],
input[type="submit"],
#infinite-handle span button,
#infinite-handle span button:hover,
#infinite-handle span button:focus {
	border: 0;
	border-radius: 0;
	background: $color__dark_gray;
	box-shadow: none;
	color: $color__white;
	font-size: 0.875rem;
	letter-spacing: 0.05em;
	line-height: 1;
	padding: 1em 1.5em;
	margin-bottom: 1em;
	text-shadow: none;
	text-transform: uppercase;
	transition: background 0.2s;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
#infinite-handle span button:hover,
#infinite-handle span button:focus,
.wp-block-button__link:hover,
.wp-block-button__link:focus {
	background: $color__red;
	cursor: pointer;
}
.is-style-outline a.wp-block-button__link:hover {
	background: $color__light_gray;
}
.button {
	font-size: .875rem;
	padding: .50rem 1.875rem;
	color: $color__white;
	text-transform: uppercase;
	letter-spacing: .3125rem;
	background-color: $color__light_blue;
	transition: all 0.3s;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
}

.button:hover {
	color: $color__white;
}

/* Search Widget */

.search-form {
	position: relative;
}

.search-form label {
	display: inline;
}

.search-field {
	width: 100%;
}

.search-form input[type="search"] {
	padding: 0.5rem;
}

.search-form .search-submit {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
}
