$color__white: #fff;
$color__black: #000;
$color__near_black: #0E1111;
$color__red: #FF0000;
$color__orange: #df3608;

$color__very_light_gray: #f9f9f9;
$color__light_gray: #d3d3d3;
$color__medium_gray: #858c92;
$color__dark_gray: #202529;

$color__highlight: #f6ec35;

$color__strong_blue: #0056b3;
$color__light_blue: #4fabff;
$color__dark_blue: #004990;