/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 12, 2018, 8:08:14 PM
    Author     : Margaret


*/

@font-face {
    font-family: 'CircleSimple';

    src: url('../fonts/CircleSimple.eot'); /* IE9 Compat Modes */
    src: url('../fonts/CircleSimple.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/CircleSimple.woff') format('woff'), /* Modern Browsers */
         url('../fonts/CircleSimple.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/CircleSimple.svg#svgFontName') format('svg'); /* Legacy iOS */
    }
    
@font-face {
    font-family: 'CircleScalloped';
    src: url('../fonts/CircleScalloped.eot'); /* IE9 Compat Modes */
    src: url('../fonts/CircleScalloped.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/CircleScalloped.woff') format('woff'), /* Modern Browsers */
         url('../fonts/CircleScalloped.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/CircleScalloped.svg#svgFontName') format('svg'); /* Legacy iOS */
    }
@font-face {
    font-family: 'CircleTwoLetter';
    src: url('../fonts/CircleTwoLetter.eot'); /* IE9 Compat Modes */
    src: url('../fonts/CircleTwoLetter.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/CircleTwoLetter.woff') format('woff'), /* Modern Browsers */
         url('../fonts/CircleTwoLetter.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/CircleTwoLetter.svg#svgFontName') format('svg'); /* Legacy iOS */
    }    
    

.frame3{font-family: 'CircleTwoLetter';}
.frame2{font-family: 'CircleScalloped';}
.frame1{font-family: 'CircleSimple';}

.rightColumn{
       margin: 0px -15px 0px -15px; 
}

.rcorners{
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px; 
    margin: 5px;
}

.selectedNumLetters{
    background: #cccccc;
}

.fontImgContainer{
	width: 50px;
	height: 50px;
}

.steps{
    font-size: 20px;
}

.nrInitials{
    width: 80px;
    height: 80px;
    border: 1px dashed #999;
    padding: 15px;
     border-radius: 40px;    
}

/* ******************************************************** */

.boxFontStyle{
   
}
.hide-radio{
    margin-left: -100px;
    display: none;  
}

.hide-radio-label{
    clear: none;
    display: inline-block;
    background-size: contain;
    margin: 0;  
    background-repeat:no-repeat;
    
    width: 60px;
    height: 60px;
    /*border: 1px solid red;*/
    margin: 0 2px 2px 0;
}

.hide-radio-label:before{
    content:'';
    width: 60px;
    height: 60px;
    display: inline-block; 
    border: 1px solid #000;
   
}


/*.bgColor{
   width: 50px;
   height: 50px;
    float: left;
    margin: 0 2px 2px 0;
}*/

.isLink{
    cursor: pointer;
}

.layers{
     padding: 10px 0 10px 0;
     border-bottom: 1px dashed #ccc;
    
}

.heading-bg {
    background-color: #eee;
    
    padding: 5px;

}
.leftColumnContentRow{
    
    margin: 10px 0 20px 0;
}

#canvasFront{
    

 background-color: #eee;
}